/* 예약목록 조회 페이지*/

.check_reserve_section {
  background: #222831;
  color: #ffffff;
}

/* 예약목록 리스트 */
.check_reserve_section .detail-box .reserve_list a {
  display: inline-block;
  padding: 10px 15px;
  background-color: skyblue;
  color: #ffffff;
  border-radius: 15px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  margin-top: 40px;
  margin-bottom: 30px;
}

.check_reserve_section .detail-box .reserve_list a:hover {
  background-color: darkblue;
}

.check_reserve_section .reserve_list{
  list-style-type: none;
}

/* 예약목록 수정옵션*/
.check_reserve_section .detail-box .reserve_options a {
  display: inline-block;
  padding: 10px 45px;
  background-color: black;
  color: #ffffff;
  border-radius: 45px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border: none;
  margin-top: 20px;
  margin-left: 15px;
}

.check_reserve_section .detail-box .reserve_options a:hover {
  background-color: gray;
}

.check_reserve_section .reserve_options{
  list-style-type: none;
}
