<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Basic -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Site Metas -->
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="shortcut icon" href="images/favicon.png" th:href="@{~/images/favicon.png}" type="">

    <title> Admin List </title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css"
          th:href="@{~/css/bootstrap.css}"/>

    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
          th:href="@{https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css}"/>
    <!-- nice select  -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css"
          th:href="@{https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css}"
          integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ=="
          crossorigin="anonymous"/>
    <!-- font awesome style -->
    <link href="css/font-awesome.min.css" rel="stylesheet"
          th:href="@{~/css/font-awesome.min.css}"/>

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet" th:href="@{~/css/style.css}"/>
    <!-- responsive style -->
    <link href="css/responsive.css" rel="stylesheet" th:href="@{~/css/responsive.css}"/>
</head>

<style>
    /*여기서 부터 수정된 css*/
    .navbar-brand {
        font-family: "Lora", 'Sans-serif', cursive;
    }

    .footer_section h4,
    .footer_section .footer-logo {
        font-weight: 600;
        margin-bottom: 20px;
        font-family: "Lora", 'Sans-serif', cursive;
    }
    .user_option .order_online {
        display: inline-block;
        padding: 8px 30px;
        background-color: #33b4ff;
        color: #ffffff;
        border-radius: 45px;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        border: none;
    }
</style>

<body class="sub_page">

<div class="hero_area">
    <div class="bg-box">
        <img src="images/bg.jpg" th:src="@{~/images/bg.jpg}" alt="">
    </div>

    <!-- 헤더  -->
    <header class="header_section">
        <div class="container">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
                <a class="navbar-brand" href="index" th:href="@{index}">
            <span>
              ItalicTime
            </span>
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class=""> </span>
                </button>
                <!-- 상단 바  -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav  mx-auto ">
                        <li class="nav-item active">
                            <a class="nav-link" href="/" th:href="@{|/index/${login.key}|}">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/menu" th:href="@{|/menu/${login.key}|}">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about" th:href="@{|/about/${login.key}|}">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/book" th:href="@{|/book/${login.key}|}">Book Table</a>
                        </li>
                    </ul>
                    <div class="user_option">
                        <a href="" class="user_link" th:href="@{|/admin/${login.key}|}">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </a>
                        <a href="/login" th:href="@{|/logout/${login.key}|}" class="order_online">
                            LogOut
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- 헤더 끝 -->
</div>

<section class="book_section layout_padding-top">
    <div class="container">
        <div class="heading_container">
            <h2>
                Reservation List
            </h2>
            <table class="table table-hover">
                <tr>
                    <th scope="col">List번호</th>
                    <th scope="col">이름</th>
                    <th scope="col">테이블 번호</th>
                    <th scope="col">전화번호</th>
                    <th scope="col">이메일</th>
                    <th scope="col">인원수</th>
                    <th scope="col">예약 날짜 / 예약시간 ~ 종료시간</th>
                </tr>

                <tr th:each="all : ${allList}">
                    <th scope="row" th:text="${allStat.count}">3</th>
                    <td th:text="${all.name}">장현석</td>
                    <td th:text="${all.table_id}">1</td>
                    <td th:text="${all.phoneNumber}">010-1111-2222</td>
                    <td th:text="${all.email}">abc@naver.com</td>
                    <td th:text="${all.covers}">3</td>
                    <td th:text="${all.date}+' / '+${all.time}+' ~ '+${all.endTime}">2022-05-14</td>
                </tr>
            </table>
        </div>
    </div>
    <!--    <form action="" th:action="@{/adminlist}" th:method="post" th:object="${reservation}">-->
    <!--    </form>-->
</section>

<!-- 하단 -->
<footer class="footer_section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-col">
                <div class="footer_contact">
                    <h4>
                        Contact
                    </h4>
                    <div class="contact_link_box">
                        <a href="">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <span>위치</span>
                        </a>
                        <a href="">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>전화번호</span>
                        </a>
                        <a href="">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span>이메일</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 footer-col">
                <div class="footer_detail">
                    <a href="" class="footer-logo">
                        ItalicTime
                    </a>
                    <p>
                        육류, 생선류등 메인요리와 스튜, 피자 그리고 다양한 와인들을 즐길 수 있습니다.
                    </p>
                    <div class="footer_social">
                        <a href="">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 footer-col">
                <h4>
                    Opening Hours
                </h4>
                <p>
                    가게 운영시간
                </p>
                <p>
                    11:00 Am - 09:00 Pm
                </p>
            </div>
        </div>
        <div class="footer-info">
            <p>
                &copy; <span id="displayYear"></span>
                <a href="https://html.design/">Restaurant Reservation Page System</a><br><br>
                <!--                &copy; <span id="displayYear"></span> Distributed By-->
                <a href="https://themewagon.com/" target="_blank">Team E</a>
            </p>
        </div>
    </div>
</footer>
<!-- 하단 끝 -->

<!-- jQery -->
<script src="js/jquery-3.4.1.min.js" th:src="@{~/js/jquery-3.4.1.min.js}"></script>
<!-- popper js -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        th:src="@{https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js}"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>

<!-- bootstrap js -->
<script src="js/bootstrap.js" th:src="@{~/js/bootstrap.js}"></script>
<!-- owl slider -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        th:src="@{https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js}">
</script>
<!-- isotope js -->
<script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"
        th:src="@{https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js}"></script>
<!-- nice select -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"
        th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js}"></script>
<!-- custom js -->
<script src="js/custom.js"
        th:src="@{~/js/custom.js}"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
</script>
<!-- End Google Map -->

</body>

</html>