<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- 모바일 전환 -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- 사이트 전환 -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="images/favicon.png"
        th:href="@{~/images/favicon.png}"
        type="">

  <title> Italic Time </title>
  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="css/bootstrap.css"
        th:href="@{~/css/bootstrap.css}"
  />

  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <!-- nice select  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
  <!-- font awesome style -->
  <link href="css/font-awesome.min.css"
        th:href="@{~/css/font-awesome.min.css}"
        rel="stylesheet" />

  <!-- Custom styles for this template -->
  <link href="css/style.css"
        th:href="@{~/css/style.css}"
        rel="stylesheet" />
  <!-- responsive style -->
  <link href="css/responsive.css"
        th:href="@{~/css/responsive.css}"
        rel="stylesheet" />

</head>

<style>
  /*여기서 부터 수정된 css*/
  .navbar-brand {
    font-family: "Lora", 'Sans-serif', cursive;
  }

  .footer_section h4,
  .footer_section .footer-logo {
    font-weight: 600;
    margin-bottom: 20px;
    font-family: "Lora", 'Sans-serif', cursive;
  }

  .user_option .order_online {
    display: inline-block;
    padding: 8px 30px;
    background-color: #33b4ff;
    color: #ffffff;
    border-radius: 45px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    border: none;
  }
</style>
<body>

<div class="hero_area">
  <div class="bg-box">
    <img src="images/bg.jpg"
         th:src="@{~/images/bg.jpg}"
         alt="">
  </div>
  <!-- 헤더  -->
  <header class="header_section">
    <div class="container" th:object="${login}">
      <nav class="navbar navbar-expand-lg custom_nav-container ">
        <a class="navbar-brand" href="/" th:href="@{|/index/${login.key}|}">
            <span>
              ItalicTime
            </span>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class=""> </span>
        </button>
        <!-- 상단 바  -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav  mx-auto ">
            <li class="nav-item active">
              <a class="nav-link" href="/" th:href="@{|/index/${login.key}|}">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/menu" th:href="@{|/menu/${login.key}|}">Menu</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/about" th:href="@{|/about/${login.key}|}">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/book" th:href="@{|/book/${login.key}|}">Book Table</a>
            </li>
          </ul>
          <div class="user_option">
            <a href="" class="user_link" th:href="@{|/modify/${login.key}|}">
              <i class="fa fa-user" aria-hidden="true"></i>
            </a>

            <a href="/login" th:href="@{|/logout/${login.key}|}" class="order_online">
              LogOut
            </a>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <!-- 헤더 끝 -->
  <!-- 슬라이드 -->
  <section class="slider_section ">
    <div id="customCarousel1" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="container ">
            <div class="row">
              <div class="col-md-7 col-lg-6 ">
                <div class="detail-box">
                  <h1>
                    Welcome to Italic Time
                  </h1>
                  <p1>
                    I hope you'll always be happy
                    <br>I hope it's always delicious
                  </p1>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item ">
          <div class="container ">
            <div class="row">
              <div class="col-md-7 col-lg-6 ">
                <div class="detail-box">
                  <h1>
                    Just enjoy Pizza&Pasta
                  </h1>
                  <p1>
                    Just like true Italians, we give our food everything we’ve got!
                    <br>Experience the taste of Italy.
                  </p1>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="container ">
            <div class="row">
              <div class="col-md-7 col-lg-6 ">
                <div class="detail-box">
                  <h1>
                    Modern&Classic Dishes
                  </h1>
                  <p1>
                    Neat and tidy food
                    <br>Food that suits everyone
                    <br>Everything is delicious
                  </p1>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <ol class="carousel-indicators">
          <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
          <li data-target="#customCarousel1" data-slide-to="1"></li>
          <li data-target="#customCarousel1" data-slide-to="2"></li>
        </ol>
      </div>
    </div>

  </section>
  <!-- 슬라이드 끝 -->
</div>

<!-- 오늘의 메뉴  -->

<section class="offer_section layout_padding-bottom">
  <div class="offer_container">
    <div class="container ">
      <div class="row">
        <div class="col-md-6  ">
          <div class="box ">
            <div class="img-box">
              <img src="menu images\Meet and Fish\Lamb Rib Chops.jpeg"
                   th:src="@{~/menu%20images/Meet%20and%20Fish/Lamb%20Rib%20Chops.jpeg}"
                   alt="">
            </div>
            <div class="detail-box">
              <h5>
                Lamb Rib Chops
              </h5>
              <h6>
                Grilled lamb ribs with zucchinis and narsharab sauce.
              </h6>
              <a>
                오늘의 추천메뉴
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6  ">
          <div class="box ">
            <div class="img-box">
              <img src="menu images\Desserts\Winter Pear.jpeg"
                   th:src="@{~/menu%20images/Desserts/Winter%20Pear.jpeg}"
                   alt="">
            </div>
            <div class="detail-box">
              <h5>
                Winter Pear
              </h5>
              <h6>
                Ripe pear cooked in Georgian wine. House-made cream paired with fresh mint and walnuts.
              </h6>
              <a>
                오늘의 추천메뉴
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
</section>

<!-- 오늘의 메뉴 끝 -->

<!-- 메뉴 파트 -->

<section class="food_section layout_padding-bottom">
  <div class="container">
    <div class="heading_container heading_center">
      <h2>
        Menu
      </h2>
    </div>

    <ul class="filters_menu">
      <li class="active" data-filter="*">All</li>
      <li data-filter=".burger">Meet and Fish</li>
      <li data-filter=".pizza">Soups/Salads</li>
      <li data-filter=".pasta">Desserts</li>
      <li data-filter=".fries">Wines</li>
    </ul>

    <div class="filters-content">
      <div class="row grid">
        <div class="col-sm-6 col-lg-4 all pizza">
          <div class="box">
            <div>
              <div class="img-box">
                <img src="menu images\Soups and Salads\Georgian Salad.jpeg"
                     th:src="@{~/menu%20images/Soups%20and%20Salads/Georgian%20Salad.jpeg}"
                     alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Georgian Salad
                </h5>
                <p>
                  Traditional Georgian salad with cucumbers and tomatoes served with burrata, grilled bread, herbs and pesto.
                </p>
                <div class="options">
                  <h6>
                    $19.00
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 all burger">
          <div class="box">
            <div>
              <div class="img-box">
                <img src="menu images\Meet and Fish\Chicken Tapaka.jpeg"
                     th:src="@{~/menu%20images/Meet%20and%20Fish/Chicken%20Tapaka.jpeg}"
                     alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Chicken Tapaka
                </h5>
                <p>
                  Iron pressed, pan-fried golden cornish chicken with Georgian sour Tkemali sauce.
                </p>
                <div class="options">
                  <h6>
                    $36.00
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 all pizza">
          <div class="box">
            <div>
              <div class="img-box">
                <img src="menu images\Soups and Salads\Kharcho.jpeg"
                     th:src="@{~/menu%20images/Soups%20and%20Salads/Kharcho.jpeg}"
                     alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Kharcho
                </h5>
                <p>
                  Slow-cooked beef soup with rice, tomatoes, herbs and Georgian spices.
                </p>
                <div class="options">
                  <h6>
                    $18.00
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 all pasta">
          <div class="box">
            <div>
              <div class="img-box">
                <img src="menu images\Desserts\Napoleon Cake.jpeg"
                     th:src="@{~/menu%20images/Desserts/Napoleon%20Cake.jpeg}"
                     alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Napoleon Cake
                </h5>
                <p>
                  Layered puff pastry with cream.
                </p>
                <div class="options">
                  <h6>
                    $18.00
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 all fries">
          <div class="box">
            <div>
              <div class="img-box">
                <img src="menu images\Wines\Icewine.jpeg"
                     th:src="@{~/menu%20images/Wines/Icewine.jpeg}"
                     alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Icewine
                </h5>
                <p>
                  Harvested during the morning hours when the temperature falls below the freezing point in the early winter in KGM's own Vineyards from Cabernet Sauvignon grapes of special Teliani appellation.
                </p>
                <div class="options">
                  <h6>
                    $18.00
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 all pizza">
          <div class="box">
            <div>
              <div class="img-box">
                <img src="menu images\Soups and Salads\Caramel Pudding.jpeg"
                     th:src="@{~/menu%20images/Soups%20and%20Salads/Caramel%20Pudding.jpeg}"
                     alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Caramel Pudding
                </h5>
                <p>
                  Fresh Pudding with sweet Caramel
                </p>
                <div class="options">
                  <h6>
                    $10.00
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 all burger">
          <div class="box">
            <div>
              <div class="img-box">
                <img src="menu images\Meet and Fish\Lamb Rib Chops.jpeg"
                     th:src="@{~/menu%20images/Meet%20and%20Fish/Lamb%20Rib%20Chops.jpeg}"
                     alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Lamb Rib Chops
                </h5>
                <p>
                  Grilled lamb ribs with zucchinis and narsharab sauce.
                </p>
                <div class="options">
                  <h6>
                    $48.00
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 all burger">
          <div class="box">
            <div>
              <div class="img-box">
                <img src="menu images\Meet and Fish\Pork Chalaghaji.jpeg"
                     th:src="@{~/menu%20images/Meet%20and%20Fish/Pork%20Chalaghaji.jpeg}"
                     alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Pork Chalaghaji
                </h5>
                <p>
                  Marinated and slow-cooked baby pork ribs with Adjika sauce.
                </p>
                <div class="options">
                  <h6>
                    $28.00
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-lg-4 all pasta">
          <div class="box">
            <div>
              <div class="img-box">
                <img src="menu images\Desserts\Winter Pear.jpeg"
                     th:src="@{~/menu%20images/Desserts/Winter%20Pear.jpeg}"
                     alt="">
              </div>
              <div class="detail-box">
                <h5>
                  Winter Pear
                </h5>
                <p>
                  Ripe pear cooked in Georgian wine. House-made cream paired with fresh mint and walnuts.
                </p>
                <div class="options">
                  <h6>
                    $17.00
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="btn-box">
      <a href="">
        더보기
      </a>
    </div>
  </div>
</section>
<!-- 신메뉴 나오거나 그러면 추가 가능 -->
<!-- 메뉴 끝 -->

<!-- 추가사항 -->

<section class="about_section layout_padding">
  <div class="container  ">

    <div class="row">
      <div class="col-md-6 ">
        <div class="img-box">
          <img src="images/chef.jpg"
               th:src="@{~/images/chef.jpg}"
               alt="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="detail-box">
          <div class="heading_container">
            <h2>
              Think our customer
            </h2>
          </div>
          <p1>
            ItalicTime's dishes are inspired by Italian traditions and techniques.<br>
            Here we offer our unique understanding of authentic Italian cuisine,
            introducing its true values through each menu.
          </p1>
          <a href="">
            더보기
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- 추가사항 끝 -->



<!-- 후기 -->

<section class="client_section layout_padding-bottom">
  <div class="container">
    <div class="heading_container heading_center psudo_white_primary mb_45">
      <h2>
        Customer Review
      </h2>
    </div>
    <div class="carousel-wrap row ">
      <div class="owl-carousel client_owl-carousel">
        <div class="item">
          <div class="box">
            <div class="detail-box">
              <p>
                메인메뉴말고도 샐러드류가 다양해서 좋았어요
              </p>
              <h6>
                Ariana Grande
              </h6>
              <p>
                2022.01.12
              </p>
            </div>
            <div class="img-box">
              <img src="images/client1.jpg"
                   th:src="@{~/images/client1.jpg}"
                   alt="" class="box-img">
            </div>
          </div>
        </div>
        <div class="item">
          <div class="box">
            <div class="detail-box">
              <p>
                If you are finding a great wine, this is the place.
              </p>
              <h6>
                David Anton
              </h6>
              <p>
                2022.03.18
              </p>
            </div>
            <div class="img-box">
              <img src="images/client2.jpg"
                   th:src="@{~/images/client2.jpg}"
                   alt="" class="box-img">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- 후기 끝 -->

<!-- 하단 -->
<footer class="footer_section">
  <div class="container">
    <div class="row">
      <div class="col-md-4 footer-col">
        <div class="footer_contact">
          <h4>
            Contact
          </h4>
          <div class="contact_link_box">
            <a href="">
              <i class="fa fa-map-marker" aria-hidden="true"></i>
              <span>
                  Kyonggi University
                </span>
            </a>
            <a href="">
              <i class="fa fa-phone" aria-hidden="true"></i>
              <span>
                  02-1234-5678
                </span>
            </a>
            <a href="">
              <i class="fa fa-envelope" aria-hidden="true"></i>
              <span>
                  EworldTension@kyonggi.ac.kr
                </span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4 footer-col">
        <div class="footer_detail">
          <a href="" class="footer-logo">
            ItalicTime
          </a>
          <p>
            육류, 생선류등 메인요리와 스튜, 피자 그리고 다양한 와인들을 즐길 수 있습니다.
          </p>
          <div class="footer_social">
            <a href="">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-4 footer-col">
        <h4>
          Opening Hours
        </h4>
        <p>
          가게 운영시간
        </p>
        <p>
          11:00 Am - 09:00 Pm
        </p>
      </div>
    </div>
    <div class="footer-info">
      <p>
        &copy; <span id="displayYear"></span>
        <a href="https://html.design/">Restaurant Reservation Page System</a><br><br>
        &copy; <span id="displayYear"></span> Distributed By
        <a href="https://themewagon.com/" target="_blank">Team E</a>
      </p>
    </div>
  </div>
</footer>
<!-- 하단 끝 -->

<!-- jQery -->
<script src="js/jquery-3.4.1.min.js" th:src="@{~/js/jquery-3.4.1.min.js}"></script>
<!-- popper js -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<!-- bootstrap js -->
<script src="js/bootstrap.js" th:src="@{~/js/bootstrap.js}"></script>
<!-- owl slider -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
</script>
<!-- isotope js -->
<script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
<!-- nice select -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
<!-- custom js -->
<script src="js/custom.js" th:src="@{~/js/bootstrap.js}"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
</script>
<!-- End Google Map -->

</body>

</html>