<!-- Basic -->
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<!-- 모바일 전환 -->
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<!-- 사이트 전환 -->
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta name="author" content="" />
<link rel="shortcut icon" href="images/favicon.png" type="">

<title> Italic Time - Menu </title>

<!-- bootstrap core css -->
<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

<!--owl slider stylesheet (슬라이드)-->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
<!-- nice select  -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
<!-- font style -->
<link href="css/font-awesome.min.css" rel="stylesheet" />

<!-- Custom styles for this template -->
<link href="css/style.css" rel="stylesheet" />
<!-- responsive style -->
<link href="css/responsive.css" rel="stylesheet" />

</head>

<style>
    /*여기서 부터 수정된 css*/
    .navbar-brand {
        font-family: "Lora", 'Sans-serif', cursive;
    }

    .footer_section h4,
    .footer_section .footer-logo {
        font-weight: 600;
        margin-bottom: 20px;
        font-family: "Lora", 'Sans-serif', cursive;
    }
    .user_option .order_online {
        display: inline-block;
        padding: 8px 30px;
        background-color: #33b4ff;
        color: #ffffff;
        border-radius: 45px;
        -webkit-transition: all 0.3s;
        transition: all 0.3s;
        border: none;
    }
</style>
<!-- class="sub_page" 정수 이거 붙이면됨-->
<body class="sub_page">

<div class="hero_area">
    <div class="bg-box">
        <img src="images/bg.jpg" alt="">
    </div>
    <!-- 헤더  -->
    <header class="header_section">
        <div class="container">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
                <a class="navbar-brand" href="/index">
          <span>
            ItalicTime
          </span>
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class=""> </span>
                </button>
                <!-- 상단 바  -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav  mx-auto ">
                        <li class="nav-item active">
                            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/menu">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                        </li>
                    </ul>
                    <div class="user_option">

                        <a href="/login" class="order_online">
                            Login
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- 헤더 끝 -->
</div>

<!-- 메뉴 파트 -->

<section class="food_section layout_padding-bottom">
    <div class="container">
        <ul class="filters_menu">
            <li class="active" data-filter="*">All</li>
            <li data-filter=".burger">Meet and Fish</li>
            <li data-filter=".pizza">Soups/Salads</li>
            <li data-filter=".pasta">Desserts</li>
            <li data-filter=".fries">Wines</li>
        </ul>

        <div class="filters-content">
            <div class="row grid">
                <div class="col-sm-6 col-lg-4 all pizza">
                    <div class="box">
                        <div>
                            <div class="img-box">
                                <img src="menu images\Soups and Salads\Georgian Salad.jpeg" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Georgian Salad
                                </h5>
                                <p>
                                    Traditional Georgian salad with cucumbers and tomatoes served with burrata, grilled bread, herbs and pesto.
                                </p>
                                <div class="options">
                                    <h6>
                                        $19.00
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all burger">
                    <div class="box">
                        <div>
                            <div class="img-box">
                                <img src="menu images\Meet and Fish\Chicken Tapaka.jpeg" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Chicken Tapaka
                                </h5>
                                <p>
                                    Iron pressed, pan-fried golden cornish chicken with Georgian sour Tkemali sauce.
                                </p>
                                <div class="options">
                                    <h6>
                                        $36.00
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all pizza">
                    <div class="box">
                        <div>
                            <div class="img-box">
                                <img src="menu images\Soups and Salads\Kharcho.jpeg" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Kharcho
                                </h5>
                                <p>
                                    Slow-cooked beef soup with rice, tomatoes, herbs and Georgian spices.
                                </p>
                                <div class="options">
                                    <h6>
                                        $18.00
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all pasta">
                    <div class="box">
                        <div>
                            <div class="img-box">
                                <img src="menu images\Desserts\Napoleon Cake.jpeg" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Napoleon Cake
                                </h5>
                                <p>
                                    Layered puff pastry with cream.
                                </p>
                                <div class="options">
                                    <h6>
                                        &18.00
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all fries">
                    <div class="box">
                        <div>
                            <div class="img-box">
                                <img src="menu images\Wines\Icewine.jpeg" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Icewine
                                </h5>
                                <p>
                                    Harvested during the morning hours when the temperature falls below the freezing point in the early winter in KGM's own Vineyards from Cabernet Sauvignon grapes of special Teliani appellation.
                                </p>
                                <div class="options">
                                    <h6>
                                        $12.00
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all pizza">
                    <div class="box">
                        <div>
                            <div class="img-box">
                                <img src="menu images\Soups and Salads\Caramel Pudding.jpeg" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Caramel Pudding
                                </h5>
                                <p>
                                    Fresh pudding with sweet caramel
                                </p>
                                <div class="options">
                                    <h6>
                                        $10.00
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all burger">
                    <div class="box">
                        <div>
                            <div class="img-box">
                                <img src="menu images\Meet and Fish\Lamb Rib Chops.jpeg" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Lamb Rib Chops
                                </h5>
                                <p>
                                    Grilled lamb ribs with zucchinis and narsharab sauce.
                                </p>
                                <div class="options">
                                    <h6>
                                        $48.00
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all burger">
                    <div class="box">
                        <div>
                            <div class="img-box">
                                <img src="menu images\Meet and Fish\Pork Chalaghaji.jpeg" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Pork Chalaghaji.jpeg
                                </h5>
                                <p>
                                    Marinated and slow-cooked baby pork ribs with Adjika sauce.
                                </p>
                                <div class="options">
                                    <h6>
                                        $28.00
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4 all pasta">
                    <div class="box">
                        <div>
                            <div class="img-box">
                                <img src="menu images\Desserts\Winter Pear.jpeg" alt="">
                            </div>
                            <div class="detail-box">
                                <h5>
                                    Winter Pear
                                </h5>
                                <p>
                                    Ripe pear cooked in Georgian wine. House-made cream paired with fresh mint and walnuts.
                                </p>
                                <div class="options">
                                    <h6>
                                        $17.00
                                    </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="btn-box">
            <a href="">
                더보기
            </a>
        </div>
    </div>
</section>
<!-- 신메뉴 나오거나 그러면 추가 가능 -->
<!-- 메뉴 끝 -->

<!-- 하단 -->
<footer class="footer_section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-col">
                <div class="footer_contact">
                    <h4>
                        Contact
                    </h4>
                    <div class="contact_link_box">
                        <a href="">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <span>
                  Kyonggi University
                </span>
                        </a>
                        <a href="">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>
                  02-1234-5678
                </span>
                        </a>
                        <a href="">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span>
                  EworldTension@kyonggi.ac.kr
                </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 footer-col">
                <div class="footer_detail">
                    <a href="" class="footer-logo">
                        ItalicTime
                    </a>
                    <p>
                        육류, 생선류등 메인요리와 스튜, 피자 그리고 다양한 와인들을 즐길 수 있습니다.
                    </p>
                    <div class="footer_social">
                        <a href="">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 footer-col">
                <h4>
                    Opening Hours
                </h4>
                <p>
                    가게 운영시간
                </p>
                <p>
                    11:00 Am - 09:00 Pm
                </p>
            </div>
        </div>
        <div class="footer-info">
            <p>
                &copy; <span id="displayYear"></span>
                <a href="https://html.design/">Restaurant Reservation Page System</a><br><br>
                &copy; <span id="displayYear"></span> Distributed By
                <a href="https://themewagon.com/" target="_blank">Team E</a>
            </p>
        </div>
    </div>
</footer>
<!-- 하단 끝 -->

<!-- jQery -->
<script src="js/jquery-3.4.1.min.js"></script>
<!-- popper js -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<!-- bootstrap js -->
<script src="js/bootstrap.js"></script>
<!-- owl slider -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
</script>
<!-- isotope js -->
<script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
<!-- nice select -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
<!-- custom js -->
<script src="js/custom.js"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
</script>
<!-- End Google Map -->

</body>

</html>