<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Basic -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Site Metas -->
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="shortcut icon" href="images/favicon.png" th:href="@{~/images/favicon.png}" type="">

    <title> User Modify </title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css"
          th:href="@{~/css/bootstrap.css}"/>

    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"
          th:href="@{https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css}"/>
    <!-- nice select  -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css"
          th:href="@{https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css}"
          integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ=="
          crossorigin="anonymous"/>
    <!-- font awesome style -->
    <link href="css/font-awesome.min.css" rel="stylesheet"
          th:href="@{~/css/font-awesome.min.css}"/>

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet" th:href="@{~/css/style.css}"/>
    <!-- responsive style -->
    <link href="css/responsive.css" rel="stylesheet" th:href="@{~/css/responsive.css}"/>
    <style>
        /* 추가코드 */
        /* 유저 리스트에서 변경 창 테이블 css */
        .mod_table_container {
            padding-top: 5px;
            padding-bottom: 10px;
            border-radius: 100%;
        }

        /* user userModify 버튼 컨테이너*/
        .mod_btn_container {
            padding-left: 125px;
        }

        /* 버튼별 padding*/
        .mod_btn_padding {
            padding-left: 15px;
        }

        /* button 사이즈 */
        .mod_btn_size {
            height: 70px;
            width: 70px;
            border-radius: 100%;
        }

        /* user modify에서 버튼 tag시 정보 출력 */
        .mod_table_info {
            display: none;
            position:absolute;
        }

        /* user modify에서 버튼 tag시 정보 출력 */
        .mod_btn:hover > .mod_table_info {
            border: 3px solid black;
            background-color: white;
            display: inherit;
            font-size: 25px;
            color: black;
            width: 250px;
            height: 250px;
            font-family: Arial;
            margin-left: -125px;
            z-index:1;
        }

        /*modify page 버튼 */
        .table_info {
            display: none;
        }
    </style>
</head>

<body class="sub_page">

<div class="hero_area">
    <div class="bg-box">
        <img src="images/bg.jpg" th:src="@{~/images/bg.jpg}" alt="">
    </div>

    <!-- 헤더  -->
    <header class="header_section">
        <div class="container">
            <nav class="navbar navbar-expand-lg custom_nav-container ">
                <a class="navbar-brand" href="index" th:href="@{index}">
            <span>
              Restaurant Name
            </span>
                </a>

                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class=""> </span>
                </button>
                <!-- 상단 바  -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav  mx-auto ">
                        <li class="nav-item active">
                            <a class="nav-link" href="/" th:href="@{|/index/${login.key}|}">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/menu" th:href="@{|/menu/${login.key}|}">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about" th:href="@{|/about/${login.key}|}">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/book" th:href="@{|/book/${login.key}|}">Book Table</a>
                        </li>
                    </ul>
                    <div class="user_option">
                        <a href="" class="user_link">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </a>
                        <a class="cart_link" href="#">
                            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                                 xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                 viewBox="0 0 456.029 456.029" style="enable-background:new 0 0 456.029 456.029;"
                                 xml:space="preserve">
                  <g>
                    <g>
                      <path d="M345.6,338.862c-29.184,0-53.248,23.552-53.248,53.248c0,29.184,23.552,53.248,53.248,53.248
                   c29.184,0,53.248-23.552,53.248-53.248C398.336,362.926,374.784,338.862,345.6,338.862z"/>
                    </g>
                  </g>
                                <g>
                    <g>
                      <path d="M439.296,84.91c-1.024,0-2.56-0.512-4.096-0.512H112.64l-5.12-34.304C104.448,27.566,84.992,10.67,61.952,10.67H20.48
                   C9.216,10.67,0,19.886,0,31.15c0,11.264,9.216,20.48,20.48,20.48h41.472c2.56,0,4.608,2.048,5.12,4.608l31.744,216.064
                   c4.096,27.136,27.648,47.616,55.296,47.616h212.992c26.624,0,49.664-18.944,55.296-45.056l33.28-166.4
                   C457.728,97.71,450.56,86.958,439.296,84.91z"/>
                    </g>
                  </g>
                                <g>
                    <g>
                      <path d="M215.04,389.55c-1.024-28.16-24.576-50.688-52.736-50.688c-29.696,1.536-52.224,26.112-51.2,55.296
                   c1.024,28.16,24.064,50.688,52.224,50.688h1.024C193.536,443.31,216.576,418.734,215.04,389.55z"/>
                    </g>
                  </g>
                                <g>
                  </g>
                                <g>
                  </g>
                                <g>
                  </g>
                                <g>
                  </g>
                                <g>
                  </g>
                                <g>
                  </g>
                                <g>
                  </g>
                                <g>
                  </g>
                                <g>
                  </g>
                                <g>
                  </g>
                                <g>
                  </g>
                                <g>
                  </g>
                                <g>
                  </g>
                                <g>
                  </g>
                                <g>
                  </g>
                </svg>
                        </a>
                        <form class="form-inline">
                            <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </form>
                        <a href="/login" th:href="@{|/logout/${login.key}|}" class="order_online">
                            LogOut
                        </a>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <!-- 헤더 끝 -->
</div>

<section class="book_section layout_padding-top">
    <div class="container">
        <div class="heading_container">
            <h2>
                Reservation List
            </h2>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">List</th>
                    <th scope="col">이름</th>
                    <th scope="col">테이블 번호</th>
                    <th scope="col">전화번호</th>
                    <th scope="col">이메일</th>
                    <th scope="col">인원수</th>
                    <th scope="col">예약 날짜 / 예약시간 ~ 종료시간</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="book : ${bookList}">
                    <th scope="row" th:text="${bookStat.index + 1}">3</th>
                    <td th:text="${book.name}">장현석</td>
                    <td th:text="${book.table_id}">1</td>
                    <td th:text="${book.phoneNumber}">010-1111-2222</td>
                    <td th:text="${book.email}">abc@naver.com</td>
                    <td th:text="${book.covers}">3</td>
                    <td th:text="${book.date}+' / '+${book.time}+' ~ '+${book.endTime}">2022-05-14</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
    <form action="" th:action="@{/adminlist}" th:method="post" th:object="${reservation}">
    </form>
</section>
<!-- 예약자 리스트 끝 -->

<section class="book_section layout_padding3" th:object="${login}">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="form_container">
                    <form action="" th:action="@{|/book/${login.key}|}" th:method="post" th:object="${reservation}">
                        <div>
                            <select class="form-control nice-select wide" th:field="*{table_id}">
                                <option value="" disabled selected>
                                    테이블 번호
                                </option>
                                <option value="1">
                                    1
                                </option>
                                <option value="2">
                                    2
                                </option>
                                <option value="3">
                                    3
                                </option>
                                <option value="4">
                                    4
                                </option>
                                <option value="5">
                                    5
                                </option>
                                <option value="6">
                                    6
                                </option>
                                <option value="7">
                                    7
                                </option>
                                <option value="8">
                                    8
                                </option>
                                <option value="9">
                                    9
                                </option>
                            </select>
                        </div>
                        <div>
                            <div style="color: red"><p>인원수를 입력해주세요.</p></div>
                            <select class="form-control nice-select wide" th:field="*{covers}">
                                <option value="2">
                                    2명
                                </option>
                                <option value="3">
                                    3명
                                </option>
                                <option value="4">
                                    4명
                                </option>
                            </select>
                        </div>
                        <div>
                            <input type="date" class="form-control" th:field="*{date}">
                        </div>
                        <div>
                            <input type="time" class="form-control" value="12:00" min="12:00" max="20:00"
                                   th:field="*{time}">
                        </div>
                        <div class="btn_box" style="padding: 0 0 35px 0">
                            <button type="submit">수정하기</button>
                            <button type="submit">취소하기</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-md-6">
                <div class="mod_btn_container ">
                    <div class="mod_table_container ">
                        <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                <div class="mod_btn_padding">
                                    <button type="button" style="background-color:#3498DB"
                                            class="btn btn-secondary mod_btn_size mod_btn">1
                                        <div class="mod_table_info">인원수:3명 현재 예약 가능</div>
                                    </button>
                                </div>
                            </div>
                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                <div class="mod_btn_padding">
                                    <button type="button" style="background-color:#3498DB"
                                            class="btn btn-secondary mod_btn_size mod_btn">2
                                        <div class="mod_table_info">인원수:3명 현재 예약 가능</div>
                                    </button>
                                </div>
                            </div>
                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                <div class="mod_btn_padding">
                                    <button type="button" style="background-color:#3498DB"
                                            class="btn btn-secondary mod_btn_size mod_btn">3
                                        <div class="mod_table_info">인원수:3명 현재 예약 가능</div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mod_table_container ">
                        <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                <div class="mod_btn_padding">
                                    <button type="button" style="background-color:#3498DB"
                                            class="btn btn-secondary mod_btn_size mod_btn">4
                                        <div class="mod_table_info">인원수:3명 현재 예약 가능</div>
                                    </button>
                                </div>
                            </div>
                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                <div class="mod_btn_padding">
                                    <button type="button" style="background-color:#3498DB"
                                            class="btn btn-secondary mod_btn_size mod_btn">5
                                        <div class="mod_table_info">인원수:3명 현재 예약 가능</div>
                                    </button>
                                </div>
                            </div>
                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                <div class="mod_btn_padding">
                                    <button type="button" style="background-color:#3498DB"
                                            class="btn btn-secondary mod_btn_size mod_btn">6
                                        <div class="mod_table_info">인원수:3명 현재 예약 가능</div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mod_table_container ">
                        <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                <div class="mod_btn_padding">
                                    <button type="button" style="background-color:#3498DB"
                                            class="btn btn-secondary mod_btn_size mod_btn">7
                                        <div class="mod_table_info">인원수:3명 현재 예약 가능</div>
                                    </button>
                                </div>
                            </div>
                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                <div class="mod_btn_padding">
                                    <button type="button" style="background-color:#3498DB"
                                            class="btn btn-secondary mod_btn_size mod_btn">8
                                        <div class="mod_table_info">인원수:3명 현재 예약 가능</div>
                                    </button>
                                </div>
                            </div>
                            <div class="btn-group mr-2" role="group" aria-label="First group">
                                <div class="mod_btn_padding">
                                    <button type="button" style="background-color:#3498DB"
                                            class="btn btn-secondary mod_btn_size mod_btn">9
                                        <div class="mod_table_info">인원수:3명 현재 예약 가능</div>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</section>

<!-- 하단 -->
<footer class="footer_section">
    <div class="container">
        <div class="row">
            <div class="col-md-4 footer-col">
                <div class="footer_contact">
                    <h4>
                        Contact
                    </h4>
                    <div class="contact_link_box">
                        <a href="">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <span>위치</span>
                        </a>
                        <a href="">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>전화번호</span>
                        </a>
                        <a href="">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span>이메일</span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 footer-col">
                <div class="footer_detail">
                    <a href="" class="footer-logo">
                        Restaurant Name
                    </a>
                    <p>
                        육류, 생선류등 메인요리와 스튜, 피자 그리고 다양한 와인들을 즐길 수 있습니다.
                    </p>
                    <div class="footer_social">
                        <a href="">
                            <i class="fa fa-facebook" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-twitter" aria-hidden="true"></i>
                        </a>
                        <a href="">
                            <i class="fa fa-instagram" aria-hidden="true"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 footer-col">
                <h4>
                    Opening Hours
                </h4>
                <p>
                    가게 운영시간
                </p>
                <p>
                    시:분 Am - 시:분 Pm
                </p>
            </div>
        </div>
        <div class="footer-info">
            <p>
                &copy; <span id="displayYear"></span>
                <a href="https://html.design/">Restaurant Reservation Page System</a><br><br>
                <!--                &copy; <span id="displayYear"></span> Distributed By-->
                <a href="https://themewagon.com/" target="_blank">Team E</a>
            </p>
        </div>
    </div>
</footer>
<!-- 하단 끝 -->

<!-- jQery -->
<script src="js/jquery-3.4.1.min.js" th:src="@{~/js/jquery-3.4.1.min.js}"></script>
<!-- popper js -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        th:src="@{https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js}"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>

<!-- bootstrap js -->
<script src="js/bootstrap.js" th:src="@{~/js/bootstrap.js}"></script>
<!-- owl slider -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"
        th:src="@{https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js}">
</script>
<!-- isotope js -->
<script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"
        th:src="@{https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js}"></script>
<!-- nice select -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"
        th:src="@{https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js}"></script>
<!-- custom js -->
<script src="js/custom.js"
        th:src="@{~/js/custom.js}"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
</script>
<!-- End Google Map -->

</body>

</html>