<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <link rel="shortcut icon" href="images/favicon.png" type="">
        <title>Login & Sign Up</title>
        <link rel="stylesheet" href="css/loginstyle.css">
    </head>
    <body>
        <div class="wrap">
            <div class="form-wrap">
                <div class="button-wrap">
                    <div id="btn"></div>
                    <button type="button" class="togglebtn" onclick="login()" >로그인</button>
                    <button type="button" class="togglebtn" onclick="register()">회원가입</button>
                </div>
                <form id="login" action="" class="input-group" th:action="@{/login/enter}" th:method="post"
                th:object="${loginValidationForm}">
                    <input type="text" class="input-field" placeholder="Id" required th:field="*{id}">
                    <input type="password" class="input-field" placeholder="Password" required th:field="*{password}">
                    <input type="checkbox" class="checkbox"><span>로그인 정보 저장하기</span>
                    <button class="submit" type="submit">로그인</button>
                </form>
                <form id="register" action="" class="input-group" th:action="@{/login/register}" th:method="post"
                      th:object="${loginForm}">
                    <input type="text" class="input-field" id="id" placeholder="아이디"  th:field="*{id}" required>
                    <input type="text" class="input-field" id="username" placeholder="이름" th:field="*{username}" required>
                    <input type="password" class="input-field" id="password" placeholder="비밀번호" th:field="*{password}" required>
                    <input type="tel" class="input-field" id="phoneNumber" placeholder="전화번호" th:field="*{phoneNumber}" required>
                    <button class="submit" type="submit">회원가입하기</button>
                </form>
            </div>
        </div>

        <script>
            var x = document.getElementById("login");
            var y = document.getElementById("register");
            var z = document.getElementById("btn");
            
            
            function login(){
                x.style.left = "50px";
                y.style.left = "450px";
                z.style.left = "0";
            }

            function register(){
                x.style.left = "-400px";
                y.style.left = "50px";
                z.style.left = "110px";
            }
        </script>
    </body>
</html>